page-login {
    img {
        position: absolute;
        z-index: -1;
        height: 200%;
        width: 200%;
        top: 0;
        left: 0;
    }
    // .content {
    //     // display: block;
    //     position: absolute;
    //     text-alignment: center;
    //     align: center;
    //     top: 100px;
    // }
}
