page-register {
    
    ion-content {
        position: relative;
        text-align: center;
    }
    
    img {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .content {
        position: relative;
        text-align: center;
        top: 100px;
        left: 0%;
        width: 100%;
        opacity: 0.8;
    }
    
}
