page-account-settings {
    
    img {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    ion-content {
        position: relative;
        text-align: center;
    }
    
    .content {
        position: relative;
        text-align: center;
        top: 90px;
        width: 100%;
        opacity: 0.8;
        max-width: 500px;
        margin: auto;
    }
    
}
